<div class="login-box mx-auto">
  <div class="login-logo">
    <a href="#">
      <img alt="Logo brand Belle Palace" class="w-100" src="assets/img/logo-brand.png">
    </a>
  </div>
  <!-- /.change-password-logo -->
  <div class="card">
    <div class="card-body changepassword-card-body">
      <div>
        <div class="input-group mb-3">
          <input
            (keypress)="enterEvent($event)"
            [(ngModel)]="changePasswordModel.oldPassword"
            class="form-control"
            name="oldPassword"
            placeholder="Old Password"
            type="password"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            (keypress)="enterEvent($event)"
            [(ngModel)]="changePasswordModel.newPassword"
            class="form-control"
            name="newPassword"
            placeholder="New Password"
            type="password"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            (keypress)="enterEvent($event)"
            [(ngModel)]="changePasswordModel.confirmation"
            class="form-control"
            name="confirmation"
            placeholder="Re-type password"
            type="password"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <button (click)="back()" class="btn btn-outline-primary float-left">
              Back
            </button>
          </div>
          <div class="col-8">
            <button (click)="changePassword()" class="btn btn-primary float-right">
              Change
            </button>
          </div>
          <!-- /.col -->
        </div>
      </div>
    </div>
    <!-- /.change-password-card-body -->
  </div>
</div>
