<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
  
            <div class="customer">
              <div>
                <div class="customer-top">
                  <div class="avatar">
                    <img
                      src="https://media.gq.com/photos/58ff6de7da176e01df8d45ff/3:4/w_1548,h_2064,c_limit/GettyImages-486393944.jpg"
                      alt="">
                  </div>
                  <div class="customer-info">
                    <div class="info">
                      <p>UserName</p>
                      <p>Email</p>
                      <p>Birthday</p>
                      <p>CreatedDate</p>
                      <p>LastUpdate</p>
                      <p>PhoneNumber</p>
                    </div>
                    <div class="info-content">
                      <p>{{employee && employee.userName}}</p>
                      <p>{{employee && employee.email}}</p>
                      <p>{{employee && employee.birthday}}</p>
                      <p>{{employee && employee.createdDate}}</p>
                      <p>{{employee && employee.lastUpdate}}</p>
                      <p>{{employee && employee.phoneNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <app-data-table (changeEvent)="dataTableChange($event)" [columnNumber]="5" [dataTable]="search">
                <div class="block-buttons-right row justify-content-center justify-content-md-end">
                  <button
                    (click)="addCompanyComponent.show()"
                    class="btn bg-warning">
                    Tạo mới
                  </button>
                </div>
                <thead>
                  <tr>
                    <th>Khóa học đã mua</th>
                    <th>Thời Gian Học Yêu Thích</th>
                    <th>Tổng thời gian học</th>
                    <th>Số từ đã học</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of listCourse">
                    <td>{{e.course}}</td>
                    <td>{{e.timeFavorite}}</td>
                    <td>{{e.timeTotal}}</td>
                    <td>{{e.wordTotal}}</td>
                    <td>
                      <app-dropdown-menu>
                        <span (click)="updateCompanyComponent.show(e)" class="dropdown-item text-cyan">
                          <i class="far fa-edit"></i>
                          Sửa
                        </span>
                        <span (click)="deleteCompany(e)" class="dropdown-item text-red">
                          <!-- <i class="far fa-trash-alt mr-1"></i> -->
                          <i class="fas fa-ban"></i>
                          Khóa tài khoản
                        </span>
                      </app-dropdown-menu>
                    </td>
                  </tr>
                </tbody>
              </app-data-table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  
    <app-add-company #addCompanyComponent (saveCompleteEvent)="saveCompanyCompleteEvent()"></app-add-company>
    <!-- /.modal-add -->
    <app-update-company #updateCompanyComponent (saveCompleteEvent)="saveCompanyCompleteEvent()"></app-update-company>
    <!-- /.modal-edit -->
  </section>
  <!-- /.content -->
  
  <style>
    .customer {
      width: 100%;
      padding: 20px;
      background: rgba(0, 0, 0, 0.1);
      margin-bottom: 50px;
    }
  
  
    .customer-top {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }
  
    .avatar {
      width: 200px;
      overflow: hidden;
    }
  
    .avatar img {
      width: 100%;
      object-fit: cover;
    }
  
    .customer-name {
      padding-left: 50px;
      font-size: 48px;
    }
  
    .customer-info {
      display: flex;
      padding-top: 50px;
    }
  
    .customer .info p {
      display: flex;
      justify-content: flex-start;
      height: 30px;
      width: 100%;
      font-size: 16px;
      padding-left: 100px;
      font-weight: 600;
    }
  
    .customer .info-content {
      padding-left: 100px;
    }
  
    .customer .info-content p {
      height: 30px;
      font-size: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
    }
  
    .list-course {
      width: 100%;
      margin-top: 50px;
    }
  
    .list-course tr {
      width: 100%;
    }
  
    .list-course tr td,
    .list-course tr th {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 8px 20px 8px;
      width: 21%;
    }
  
    .list-course tr td:last-child,
    .list-course tr th:last-child {
      text-align: center;
      width: 6%;
    }
  </style>