<app-modal-wrapper #appModalWrapper title="Sửa Customer">
  <div class="modal-body" id="add-company-modal">
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="update_company_last_name">Email <span class="text-red">*</span></label>
        <input [(ngModel)]="customer.email" class="form-control" id="update_company_last_name" name="lastName"
               placeholder="Email" type="text"/>
      </div>
      <div class="col-md-4 form-group">
        <label for="update_company_first_name">UserName <span class="text-red">*</span></label>
        <input (change)="companyNameChange()" [(ngModel)]="customer.userName" class="form-control"
               id="update_company_first_name"
               name="firstName"
               placeholder="UserName" type="text"/>
      </div>
      <div class="col-md-4 form-group">
        <label for="update_company_address">Password <span class="text-red">*</span></label>
        <input [(ngModel)]="customer.password" class="form-control" id="update_company_address" name="address"
               placeholder="NewPassword" type="password"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label>FirstName <span class="text-red">*</span></label>
        <input [(ngModel)]="customer.firstName" class="form-control" id="update_company_address" name="address"
               placeholder="FirstName" type="text"/>
      </div>
      <div class="col-md-4 form-group">
        <label>LastName <span class="text-red">*</span></label>
        <input [(ngModel)]="customer.lastName" class="form-control" id="update_company_address" name="address"
               placeholder="LastName" type="text"/>
      </div>
      <div class="col-md-4 form-group">
        <label>Birthday <span class="text-red">*</span></label>
        <input [(ngModel)]="customer.birthday" class="form-control" id="update_company_address" name="address"
               placeholder="Birthday" type="text"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label>PhoneNumber <span class="text-red">*</span></label>
        <input [(ngModel)]="customer.phoneNumber" class="form-control" id="update_company_address" name="address"
               placeholder="PhoneNumber" type="text"/>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button (click)="appModalWrapper.hide()" class="btn btn-default" type="button">
      <i class="fas fa-times mr-1"></i>Đóng
    </button>
    <button (click)="saveCustomer()" class="btn btn-primary" type="button">
      <i class="fas fa-save mr-1"></i>Lưu
    </button>
  </div>
</app-modal-wrapper>
